body {
    background-color: rgb(212, 212, 212);
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.card {
    margin-top: 10px;
    border-color: gray;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.fiveDay {
    border-color: black;
}

/* add UV index below */
.UVlow{
    background-color: rgb(95, 255, 95);
}

.UVmed {
    background-color: yellow;
}

.UVhigh{
    background-color: rgb(248, 181, 74);
}

.UVvery {
    background-color: red;
    color: white;
}

.UVext {
    background-color: purple;
    color: white;
}

.humidity,
.temperature {
    font-size: smaller;
}

.UV {
    display: inline;
}

/* remove bullet points */
ul {
    list-style-type: none;
}